body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Hover effetto zoom */
.img-fluid {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.img-fluid:hover {
  transform: scale(1.15);
  z-index: 5;
}

/* Footer */
.netflix-footer a:hover {
  color: #fff !important;
}
